<app-dialog [headerText]="headerText">
  <form [formGroup]="form">
    <div class="d-flex flex-column">
      <app-input
        label="Name"
        [inputFormControl]="form | formGet : 'name'"
      ></app-input>
      <app-input
        label="Description"
        [inputFormControl]="form | formGet : 'description'"
      ></app-input>
      <app-checkbox
        label="This is an income category"
        [inputFormControl]="form | formGet : 'isIncome'"
      ></app-checkbox>

      <div class="color-picker mt-2">
        <label class="color-picker__label">Color</label>
        <div class="color-picker__swatches">
          @for (swatch of colorPalette; track swatch) {
            <button
              type="button"
              class="color-picker__swatch"
              [class.color-picker__swatch--selected]="form.get('color')?.value === swatch"
              [style.background-color]="swatch"
              [attr.aria-label]="'Select color ' + swatch"
              (click)="selectColor(swatch)"
            ></button>
          }
          <input
            type="color"
            class="color-picker__custom"
            aria-label="Custom color"
            [value]="form.get('color')?.value || '#4E79A7'"
            (input)="selectColor($any($event.target).value)"
          />
        </div>
      </div>
    </div>

    <app-dialog-footer
      (submitClicked)="submit()"
      (cancelClicked)="closeDialog()"
    ></app-dialog-footer>
  </form>
</app-dialog>
