.dashboard-period {
  flex-wrap: wrap;

  &__select {
    min-width: 200px;
  }

  &__date {
    min-width: 160px;
  }
}

.widget {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.widget app-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
